<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('inici') }}">Tienda Patryk</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuPrincipal">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'inici' %}active{% endif %}" href="{{ path('inici') }}">
                        Inicio
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'seccio_llistat' %}active{% endif %}" href="{{ path('seccio_llistat') }}">
                        Secciones
                    </a>
                </li>
                
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Afegir
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                    <a class="dropdown-item {% if app.request.get('_route') == 'seccio_crear' %}active{% endif %}" href="{{ path('seccio_crear') }}">
                        Afegir Seccions
                    </a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item {% if app.request.get('_route') == 'article_crear' %}active{% endif %}" href="{{ path('article_crear') }}">
                        Afegir Articles
                    </a>
                </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Opciones
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="#">Configuración</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Salir</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
